
body {
    background-color: aqua;
    padding-top: 100px;
}
.myForm {
    outline: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    
}
.vueData {
    border: 1px solid red;
    display:inline-block;
    border-radius: 5px;
    
} 
