
body {
    background-color: aqua;
    padding-top: 100px;
}
.myForm {
    outline: 1px solid black;
    border-radius: 5px;
    width: 550px;
    padding: 10px;
    margin: 0 auto;
    display: inline-block;

    
}
.vueData {
    border: 1px solid red;
    display:inline-block;
    border-radius: 5px;
    
    
} 

.error {
    background-color: rgb(228, 13, 13);
    box-shadow: 0 0 20px red; 
}
.data {
    width: 100%;
    padding: 10px;
}